textarea{
    margin: 8px 10px;
min-width: 1200px;
min-height: 300px;
}

h2{
     text-align: center ;
     display: block;
     color:rgb(252, 250, 247);

}
span{
    text-align: center ;   
   color:rgb(252, 250, 247);
}
table {
    margin: 8px 10px;
    width: 100%;
    padding: 12px 20px;
  }

